@import "reset.css";

html{
    font-family: Arial, Helvetica, sans-serif;
}

#hero{
    margin-top: 50px;
    width: 100%;
    height: 300px;
    background-color: #DDE7C3;
    opacity: 81%;
    align-content: center;

}

button{
    width: 200px;
    height: 50px;
    border: 0;
    border-radius: 20px;
    background-color: #DDE7C3;
    box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgb(0 0 0 / 0.6);

}

#compteur{
    margin-top: 20px;
    margin-left: 5px;
    width: 75%;
    height: 200px;
    background-color: #DDE7C3;
    opacity: 81%;
    align-content: center;
    border-radius: 20px;
}

#stats {
    margin-top: 20px;
    margin-right: 5px;
    width: 75%;
    height: 200px;
    background-color: #DDE7C3;
    opacity: 81%;
    align-content: center;
    border-radius: 20px;
    float: right;
    text-align: end;
}

#equipes{
    margin-left: 5px;
    width: 75%;
    height: 200px;
    background-color: #DDE7C3;
    opacity: 81%;
    align-content: center;
    border-radius: 20px;
}